extends layout

block content
  .mt-2.mb-5.text-center
    h1 Whoops!
    h5.mt-2= message
    - var url = "https://res.cloudinary.com/dniiru5xy/image/upload/c_scale,w_500/v1564258209/recipes21/sad-icecream.jpg"
    img(src=url, alt="error image", width="500").img-fluid.rounded
