include head

body
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href=back_url)
        i.fa.fa-arrow-left
        span.ml-2= recipe_title
  .text-center.bg-secondary
    img.img-fluid(src=image_url)
include foot