/* custom css*/
body {
  /*font-size: 14px !important;*/
  color: #212529 !important;
  /*font-family: Arial, Helvetica, sans-serif; */
  font-display: auto;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.8rem;
}

.lead {
  font-size: 1rem;
}

.show-on-mobile {
  display: block;
}

.show-on-desktop {
  display: block;
}

@media (max-width: 767.98px) {
  .show-on-desktop {
      display: none;
  }
}

@media (min-width: 768px) {
  .show-on-mobile {
      display: none;
  }
}

.content {
  margin-top: 0px;
}

.search-box {
  max-width: 600px;
  margin: auto;
  height: 40px;
}

.brand {
  font-style: italic;
  font-family: -webkit-body;
  text-decoration: none;
  font-size: 1.5rem;
}

.login-button {
  padding: 15px 30px;
  font-size: 16px;
}

.list-group-ol {
  list-style: decimal inside;
}

.list-group-item-ol {
  display: list-item;
}

.background-night {
  background-color: black;
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
      radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
      radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
      radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.background-carbon {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
      linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
      linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
      linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
      linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
      linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.background-carbon-fibre {
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

.search-section {
  height: 200px;
  padding-top: 85px;
}

.profileMenu {
  background-repeat: no-repeat;
  border: none;
  padding-left: 60px;
}

.bg-white-095{
  background-color: rgba(255, 255, 255, 0.95);
}

.btn-social{
  border: none;
  font-size: 0.85rem;
}
.btn-facebook{
  background-color: #3b5998;
}

.facebook-color{
  color: #3b5998;
}

.btn-pinterest{
  background-color: #c61118;
}

.pinterest-color{
  color: #c61118;
}

.btn-twitter{
  background-color: #55acee;
}

.twitter-color{
  color: #55acee;
}

.icon-social{
  font-size: 1.5rem;
}

.btn-whatsapp{
  background-color: #25d366;
}

.whatsapp-color{
  color: #25d366;
}

/* .container-fluid{
  padding-left: 0px;
  padding-right: 0px;
} */

.z-index-1{
  z-index: -1;
}

.blue-link{
  color: #3284FF;
}

.bell-badge{
  margin-left: -10px;
}

#searchTopContainer{
  width: 74%;
}